#define IDD_SPEED_DIALOG 101
#define IDC_SPEED_SLIDER 1001
#include "resource.h"


IDD_SPEED_DIALOG DIALOGEX 0, 0, 186, 95
STYLE DS_SETFONT | WS_POPUP | WS_CAPTION
CAPTION "Configurar Velocidade"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
CONTROL "Velocidade", IDC_SPEED_SLIDER, "msctls_trackbar32", WS_TABSTOP | TBS_HORZ, 7, 7, 172, 20
DEFPUSHBUTTON "OK", IDOK, 117, 72, 50, 14
PUSHBUTTON "Cancelar", IDCANCEL, 66, 72, 50, 14
END
